In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv("tweets.csv")
df

,token,date,reply_count,like_count,retweet_count,quote_count,text,sentiment_label,sentiment_score
0,bitcoin,2022-01-01 00:00:00.000,20,207,31,3,Most people underestimate the impact #Bitcoin ...,Neutral,0.717482
1,bitcoin,2022-01-01 00:00:00.000,232,3405,286,27,#Bitcoin has started a new yearly candle https...,Neutral,0.810814
2,bitcoin,2022-01-01 00:00:00.000,2,861,12,0,@DESTROYBINARY did people forget that the amog...,Neutral,0.606978
3,bitcoin,2022-01-01 00:00:00.000,18,306,30,9,"In 2017, miners attempted to assert control ov...",Negative,0.510956
4,bitcoin,2022-01-01 00:00:00.000,35,721,35,1,Yearly Close \nMonthly Close\nDaily Close\n\nh...,Positive,0.988296
...,...,...,...,...,...,...,...,...,...
76792,bitcoin,2023-06-22 00:00:00.000,8,204,35,2,IMF says while a few countries have banned #Bi...,Negative,0.615765
76793,bitcoin,2023-06-22 00:00:00.000,8,298,17,4,"Fear, Greed &amp; Bitcoin | #SheCrypto https:/...",Neutral,0.687251
76794,bitcoin,2023-06-22 00:00:00.000,17,86,17,0,I know I may be unpopular for saying this but ...,Neutral,0.532809
76795,bitcoin,2023-06-22 00:00:00.000,193,3048,771,42,#Bitcoin now has the support of presidential c...,Positive,0.935171
76796,bitcoin,2023-06-22 00:00:00.000,53,43524,46438,1,All unclaimed tokens will be burned by 4:00PM ...,Neutral,0.758979

In [4]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
df['fscore'] = df['text'].apply(lambda review: sid.polarity_scores(review)['compound'])

[nltk_data] Downloading package vader_lexicon to C:\Users\Hp-
[nltk_data]     admin\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [18]:
result = df.groupby('date')['fscore'].mean().reset_index()
result = result.rename(columns={'date': 'Date'})
result

                        Date    fscore
0    2022-01-01 00:00:00.000  0.239093
1    2022-01-02 00:00:00.000  0.163560
2    2022-01-03 00:00:00.000  0.193299
3    2022-01-04 00:00:00.000  0.154669
4    2022-01-05 00:00:00.000  0.059539
..                       ...       ...
533  2023-06-18 00:00:00.000  0.206328
534  2023-06-19 00:00:00.000  0.120098
535  2023-06-20 00:00:00.000  0.090919
536  2023-06-21 00:00:00.000  0.219896
537  2023-06-22 00:00:00.000  0.158499

[538 rows x 2 columns]

In [14]:
bitcoin_df = pd.read_csv("dataset.csv")
bitcoin_df['Date'] = pd.to_datetime(bitcoin_df['Date'])
bitcoin_df['Date'] = bitcoin_df['Date'] + pd.DateOffset(years=2)
bitcoin_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-09-13,235.242004,235.934998,229.332001,230.511993,230.511993,1.847880e+07
1,2017-09-14,230.608994,232.440002,227.960999,230.643997,230.643997,2.099780e+07
2,2017-09-15,230.492004,259.182007,229.822006,230.304001,230.304001,1.917780e+07
3,2017-09-16,230.250000,231.214996,227.401993,229.091003,229.091003,2.014420e+07
4,2017-09-17,229.076004,230.285004,228.925995,229.809998,229.809998,1.893540e+07
...,...,...,...,...,...,...,...
2188,2023-09-09,45774.742188,47261.949219,45669.738281,46391.421875,46391.421875,3.867266e+10
2189,2023-09-10,46396.664063,47031.742188,44344.484375,44883.910156,44883.910156,3.915467e+10
2190,2023-09-11,44869.839844,45969.292969,44818.265625,45201.457031,45201.457031,3.449984e+10
2191,2023-09-12,45206.628906,46364.878906,44790.460938,46063.269531,46063.269531,2.788198e+10
2192,2023-09-13,46114.171875,46234.527344,44268.375000,44743.929688,44743.929688,3.184200e+10

In [20]:
bitcoin_df['Date'] = pd.to_datetime(bitcoin_df['Date'])
result['Date'] = pd.to_datetime(result['Date'])

In [26]:
merged_df = pd.merge(bitcoin_df, result, on='Date', how='outer')

In [28]:
# Function to replace NaN with random values between 0 and 1
def fillna_with_random(value):
    if pd.isna(value):
        return np.random.uniform(0, 1)
    else:
        return value

# Apply the function to each element in the DataFrame
merged_df = merged_df.applymap(fillna_with_random)

In [29]:
merged_df

,Date,Open,High,Low,Close,Adj Close,Volume,fscore
0,2017-09-13,235.242004,235.934998,229.332001,230.511993,230.511993,1.847880e+07,0.031334
1,2017-09-14,230.608994,232.440002,227.960999,230.643997,230.643997,2.099780e+07,0.730667
2,2017-09-15,230.492004,259.182007,229.822006,230.304001,230.304001,1.917780e+07,0.134369
3,2017-09-16,230.250000,231.214996,227.401993,229.091003,229.091003,2.014420e+07,0.741839
4,2017-09-17,229.076004,230.285004,228.925995,229.809998,229.809998,1.893540e+07,0.595322
...,...,...,...,...,...,...,...,...
2188,2023-09-09,45774.742188,47261.949219,45669.738281,46391.421875,46391.421875,3.867266e+10,0.264020
2189,2023-09-10,46396.664063,47031.742188,44344.484375,44883.910156,44883.910156,3.915467e+10,0.849678
2190,2023-09-11,44869.839844,45969.292969,44818.265625,45201.457031,45201.457031,3.449984e+10,0.482703
2191,2023-09-12,45206.628906,46364.878906,44790.460938,46063.269531,46063.269531,2.788198e+10,0.764662
2192,2023-09-13,46114.171875,46234.527344,44268.375000,44743.929688,44743.929688,3.184200e+10,0.421373

In [30]:
merged_df.to_csv('finaldataset.csv', index=False)